.App {
  text-align: start;
  padding: 40px 30px;
  max-width: 100%
}

.containerInput{
  align-items: end;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;
}
.form-control{
  max-width: 50%;
}